# ─── Django core ───────────────────────────────────────────
Django==5.0.6
djangorestframework==3.16.1
drf-spectacular==0.29.0
django-cors-headers
psycopg2-binary
gunicorn

# ─── Celery + Redis ────────────────────────────────────────
celery==5.3.6
redis==5.0.3
django-celery-beat==2.6.0
django-celery-results==2.5.1

# ─── HTTP client ───────────────────────────────────────────
requests==2.31.0

# ─── Utilidades ────────────────────────────────────────────
asgiref==3.8.1
sqlparse==0.5.3
